braceexpand==0.1.7
deepdiff==6.3.0
demucs==4.0.1
filetype==1.2.0
ftfy==6.1.1
gradio==4.22.0
h5py==3.10.0
ipdb==0.13.13
librosa==0.10.0
lightning==2.2.1
noisereduce==3.0.2
numpy==1.22.0
onnx>=1.15.0
openai-whisper
pyloudnorm==0.1.1
regex==2023.12.25
scipy==1.11.4
soundfile==0.12.1
timm==0.3.2
tqdm==4.66.2
transformers==4.33.0
tts==0.22.0
wandb==0.16.4
wget==3.2
--extra-index-url https://download.pytorch.org/whl/cu121
